{{ $albumUrl := print "/static/" ($.Get 0) }}
<div class="mcc-member-grid">
{{ range readDir $albumUrl }}
    {{ $imgPath := print "/" ($.Get 0) "/" .Name | relURL }}
    {{ $imgURL := printf "%s?v=%d" $imgPath .Size }}
    {{ $jpg := ".jpg" }}
    {{ $user := strings.TrimSuffix $jpg .Name }}
    {{ $href := printf "https://twitter.com/%s" $user }}
    {{ if eq $user "darkbluechain" }}{{ $href = "https://x.com/darkblu3c" }}{{ end }}
    <a class="mcc-member-card" href="{{ $href }}" rel="noopener">
        <img src="{{ $imgURL }}" alt="{{ $user }}" loading="lazy">
        <span>{{ $user }}</span>
    </a>
{{ end }}
</div>
